{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% include "site_template/top-stats.html" %}

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
            <div class="col">

            <div class="" role="alert" id="alert_product_raw">
            </div>

              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0" id="left">Daftar Produk Mentah</h3>
                  <a onclick="GetProductRawCode()" data-toggle="modal" data-target="#addModalProductRaw"><button type="button" class="btn btn-sm btn-primary"><i class="ni ni-fat-add text-white"></i></button></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                          <th scope="col">Kode Produk Mentah</th>
                          <th scope="col">Nama Produk Mentah</th>
                        <th width="40%" scope="col">Deskripsi</th>
                          <th width="col" scope="col">Tanggal Masuk</th>
                          <th width="col" scope="col">Jumlah (kg)</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    <!--          Start List          -->
                    <!-- For loop logic of jinja template -->
                    {%for i in range(0, len_list)%}
                      <tr>
                          <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{list_product_raw[i].product_raw_code}}</span>
                            </div>
                          </div>
                        </th>
                          <td>
                          {{list_product_raw[i].product_raw_name}}
                        </td>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{list_product_raw[i].product_raw_description}}</span>
                            </div>
                          </div>
                        </th>
                          <td>
                          {{list_product_raw[i].created_at}}
                        </td>
                          <td>
                          {{list_product_raw[i].amount}}
                        </td>
                        <td class="text-right">
                          <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="/detail_product_raw?id={{list_product_raw[i].id}}">Riwayat Produk Mentah</a>
                              <a class="dropdown-item" href="/product_raw_restock?id={{list_product_raw[i].id}}">Re-stok</a>
                              <a data-id={{list_product_raw[i].id}} onclick="EditProductRaw(this)" data-toggle="modal" data-target="#editModalProductRaw" class="dropdown-item">Ubah</a>
                              <a data-id={{list_product_raw[i].id}} onclick="ConfirmDeleteProductRaw(this)" data-toggle="modal" data-target="#deleteModalProductRaw" class="dropdown-item">Hapus</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {%endfor%}
                    <!--          End List          -->

                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-4">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1">
                          <i class="fas fa-angle-left"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="">All</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="">
                          <i class="fas fa-angle-right"></i>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>



        {% include "site_template/footer.html" %}

    </div>

<!-- Add Modal Product -->
<div class="modal fade" id="addModalProductRaw" tabindex="-1" role="dialog" aria-labelledby="addModalProductRawLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="addModalProductRawLabel">Tambah Produk Mentah</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="recipient-code-product" class="control-label">Kode Produk:</label>
                        <input type="text" class="form-control" id="addCodeProductRaw" disabled value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name-product-raw" class="control-label">Nama Produk Mentah:</label>
                        <input type="text" class="form-control" id="addNameProductRaw" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-description-product-raw" class="control-label">Deskripsi:</label>
                        <textarea class="form-control" id="addDescriptionProductRaw"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-amount-product-raw" class="control-label">Jumlah (kg):</label>
                        <input class="form-control" id="addAmountProductRaw"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button onclick="InsertProductRaw()" type="button" id="btnAddProductRaw" class="btn btn-primary">Tambah</button>
            </div>
        </div>
    </div>
</div>


<!--  Edit Modal Product  -->
<div class="modal fade" id="editModalProductRaw" tabindex="-1" role="dialog" aria-labelledby="editModalProductRawLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="editModalProductRawLabel">Ubah Produk</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="recipient-code-product-raw" class="control-label">Kode Produk:</label>
                        <input type="text" class="form-control" id="editCodeProductRaw" value="" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name-product-raw" class="control-label">Nama Produk Mentah:</label>
                        <input type="text" class="form-control" id="editNameProductRaw" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-description-product-raw" class="control-label">Deskripsi:</label>
                        <textarea class="form-control" id="editDescriptionProductRaw"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-amount-product-raw" class="control-label">Jumlah (kg):</label>
                        <input class="form-control" id="editAmountProductRaw" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" onclick="UpdateProductRaw()" class="btn btn-primary">Ubah</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal Produk -->
<div class="modal fade" id="deleteModalProductRaw" tabindex="-1" role="dialog" aria-labelledby="deleteModalProductRawLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<!--            <div class="modal-header" style="text-align:center;">-->
<!--                <h4 class="modal-title" style="color:red;" id="deleteModalUserLabel">Apa anda yakin menghapus data ini?</h4>-->
<!--            </div>-->
                <div class="card-header border-0">
                  <h3 class="mb-0" id="deleteModalProductRawLabel">Apa anda yakin menghapus data ini?</h3>
                </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" onclick="DeleteProductRaw()">Hapus</button>
            </div>
        </div>
    </div>
</div>


<style>
#left
{
    width:10%;
    float:left;
}
#right
{
    width:90%;
    float:right;
}
</style>

<script>
function GetProductRawCode(){
    $.ajax({
			url : '/getProductRawCode',
			data : {},
			type : 'POST',
			success: function(res){
				document.getElementById("addCodeProductRaw").value = res;
			},
			error: function(error){
				console.log(error);
			}
		});
}

function EditProductRaw(elm){

        $.ajax({
			url : '/getProductRawCode',
			data : {},
			type : 'POST',
			success: function(res){
				document.getElementById("editCodeProductRaw").value = res;
			},
			error: function(error){
				console.log(error);
			}
		});

		localStorage.setItem('editProductRawID',$(elm).attr('data-id'));
		$.ajax({
			url : '/getProductRawByID',
			data : {id:$(elm).attr('data-id')},
			type : 'POST',
			success: function(res){
			    $('#editNameProductRaw').val(res.product_raw_name);
				$('#editDescriptionProductRaw').val(res.product_raw_description);
				$('#editCodeProductRaw').val(res.product_raw_code);
				$('#editAmountProductRaw').val(res.product_raw_amount);

				$('#editModalProductRaw').modal();

			},
			error: function(error){
				console.log(error);
			}
		});
	}

function ConfirmDeleteProductRaw(elm){
    localStorage.setItem('deleteProductRawID', $(elm).attr('data-id'));
    $('#deleteModalProductRaw').modal();
}

<!-- API -->
function InsertProductRaw() {
    $.ajax({
        url: '/insertProductRaw',
        data: {
            product_raw_name: $('#addNameProductRaw').val(),
            product_raw_code: $('#addCodeProductRaw').val(),
            product_raw_description: $('#addDescriptionProductRaw').val(),
            product_raw_amount: $('#addAmountProductRaw').val()
        },
        type: 'POST',
        success: function(res) {
            $('#addModalProductRaw').modal('hide');

            // Change Warning Text Manual
            var element = document.getElementById("alert_product_raw");
            element.className += " alert";
            element.className += " alert-dismissable";
            element.className += " alert-" + res['status'];

            element.innerHTML += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
            element.innerHTML += res['message'];

            // Re populate the grid
            setTimeout(function(){
                location.reload();
             }, 1000);
        },
        error: function(error) {
            console.log(error);
        }
    })
}

function UpdateProductRaw() {
    $.ajax({
        url: '/updateProductRaw',
        data: {
            product_raw_code: $('#editCodeProductRaw').val(),
            product_raw_name: $('#editNameProductRaw').val(),
            product_raw_description: $('#editDescriptionProductRaw').val(),
            product_raw_amount: $('#editAmountProductRaw').val(),
            id: localStorage.getItem('editProductRawID')
        },
        type: 'POST',
        success: function(res) {
            $('#editModalProductRaw').modal('hide');

            // Change Warning Text Manual
            var element = document.getElementById("alert_product_raw");
            element.className += " alert";
            element.className += " alert-dismissable";
            element.className += " alert-" + res['status'];

            element.innerHTML += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
            element.innerHTML += res['message'];

            // Re populate the grid
            setTimeout(function(){
                location.reload();
             }, 1000);
        },
        error: function(error) {
            console.log(error);
        }
    })
}

function DeleteProductRaw() {
    $.ajax({
        url: '/deleteProductRawByID',
        data: {
            id: localStorage.getItem('deleteProductRawID')
        },
        type: 'POST',
        success: function(res) {
            console.log("success");

            $('#deleteModalProductRaw').modal('hide');

            // Change Warning Text Manual
            var element = document.getElementById("alert_product_raw");
            element.className += " alert";
            element.className += " alert-dismissable";
            element.className += " alert-" + res['status'];

            element.innerHTML += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
            element.innerHTML += res['message'];

            // Re populate the grid
            setTimeout(function(){
                location.reload();
             }, 1000);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>

{% endblock content %}

{% block javascripts %}
  {{ super() }}

{% endblock javascripts %}
