{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% include "site_template/top-stats.html" %}

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
            <div class="col">

            <div class="" role="alert" id="alert_user">
            </div>

              <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0"><a href="/memorandum">Daftar Nota</a> - Tambah Nota Penjualan</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <tbody>
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                      <div class="card-body border-0">
                        <h4 class="mb-0"><a href="#">No Nota&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</a> NBL-000001</h4>
                        <br>
                        <h4 class="mb-0"><a href="#">Tanggal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</a> 12 Mei 2020 11:02:12</h4>
                        <br>
                        <div class="form-group">
                          <h4 class="mb-0"><a href="#">Nama&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</a></h4>
                          <br>
                          <select class="form-control" id="addUserMemorandum">
                              {%for i in range(0, len_list_user)%}
                                  <option value="{{list_user[i].id}}">{{list_user[i].fullname}}</option>
                              {%endfor%}
                          </select>
                      </div>
                      <div class="form-group">
                          <h4 class="mb-0"><a href="#">Keterangan&nbsp;:&nbsp;</a></h4>
                          <br>
                          <textarea class="form-control" id="addDescriptionMemorandum"></textarea>
                      </div>
                    </div>
                  </div>

                  <div style="margin-left:1%" class="form-group">
                    <!--                  onclick="GetProductCode()"-->
                    <a data-toggle="modal" data-target="#addModalMemorandum"> <button type="button" class="btn btn-sm btn-primary">Tambah Item <i class="ni ni-fat-add text-white"></i></button></a>
                  </div>

                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Kode Produk</th>
                        <th scope="col">Nama Produk</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    <!--          Start List          -->
                    <!-- For loop logic of jinja template -->
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">1</span>  <!-- NBL = Nota Beli NJL = Nota Jual NPP = Nota Pelunasan Pembayaran -->
                            </div>
                          </div>
                        </th>
                          <td>
                          PD-000001
                        </td>
                        <td>
                          Dori 2x5
                        </td>
                        <td>
                          100kg
                        </td>
                        <td>
                          Rp. 50.000
                        </td>
                        <td>
                          Rp. 5.000.000
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="#">Tambah</a>
                              <a onclick="ConfirmDeleteProduct()" data-toggle="modal" data-target="#deleteModalMemorandum" class="dropdown-item">Hapus</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">2</span>  <!-- NBL = Nota Beli NJL = Nota Jual NPP = Nota Pelunasan Pembayaran -->
                            </div>
                          </div>
                        </th>
                          <td>
                          PD-000002
                        </td>
                        <td>
                          Dori 3x1
                        </td>
                        <td>
                          50kg
                        </td>
                        <td>
                          Rp. 40.000
                        </td>
                        <td>
                          Rp. 2.000.000
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="#">Tambah</a>
                              <a onclick="ConfirmDeleteProduct()" data-toggle="modal" data-target="#deleteModalMemorandum" class="dropdown-item">Hapus</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">3</span>  <!-- NBL = Nota Beli NJL = Nota Jual NPP = Nota Pelunasan Pembayaran -->
                            </div>
                          </div>
                        </th>
                          <td>
                          PD-000003
                        </td>
                        <td>
                          Dori 3x5
                        </td>
                        <td>
                          50kg
                        </td>
                        <td>
                          Rp. 90.000
                        </td>
                        <td>
                          Rp. 4.500.000
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="#">Tambah</a>
                              <a onclick="ConfirmDeleteProduct()" data-toggle="modal" data-target="#deleteModalMemorandum" class="dropdown-item">Hapus</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <!--          End List          -->

                    </tbody>
                    <tfoot class="thead-light">
                      <tr>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">200kg</th>
                        <th scope="col"></th>
                        <th scope="col">Rp. 11.500.000</th>
                        <th scope="col"></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="card-footer py-4">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                      <li class="page-item active">
                        <button type="button" class="btn btn-primary"><a>Proses</a></button>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        {% include "site_template/footer.html" %}
    </div>

<!-- Add Modal Memorandum -->
<div class="modal fade" id="addModalMemorandum" tabindex="-1" role="dialog" aria-labelledby="addModalMemorandumLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="addModalMemorandumLabel">Tambah Produk</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="recipient-category-product" class="control-label">Nama Kategori Produk:</label>
                        <select class="form-control" id="addCategoryProduct">
                          <option>Test</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name-product" class="control-label">Nama Produk:</label>
                        <input type="text" class="form-control" id="addNameProduct">
                    </div>
                    <div class="form-group">
                        <label for="recipient-description" class="control-label">Deskripsi:</label>
                        <textarea class="form-control" id="addDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-price" class="control-label">Harga (per kg):</label>
                        <input class="form-control" id="addPrice"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button onclick="InsertMemorandum()" type="button" id="btnAddMemorandum" class="btn btn-primary">Tambah</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal Memorandum -->
<div class="modal fade" id="deleteModalMemorandum" tabindex="-1" role="dialog" aria-labelledby="deleteModalMemorandumLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<!--            <div class="modal-header" style="text-align:center;">-->
<!--                <h4 class="modal-title" style="color:red;" id="deleteModalUserLabel">Apa anda yakin menghapus data ini?</h4>-->
<!--            </div>-->
                <div class="card-header border-0">
                  <h3 class="mb-0" id="deleteModalProductLabel">Apa anda yakin menghapus data ini?</h3>
                </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" onclick="">Hapus</button>
            </div>
        </div>
    </div>
</div>


<style>
#left
{
    width:10%;
    float:left;
}
#right
{
    width:90%;
    float:right;
}
</style>
<script>
  function ConfirmDeleteMemorandum(elm){
<!--    localStorage.setItem('deleteUserID', $(elm).attr('data-id'));-->
    $('#deleteModalMemorandum').modal();
}

<!--function addItem() {-->
<!--  var table = document.getElementById("myTable");-->
<!--  var row = table.insertRow(0);-->
<!--  var cell1 = row.insertCell(0);-->
<!--  var cell2 = row.insertCell(1);-->
<!--  cell1.innerHTML = "NEW CELL1";-->
<!--  cell2.innerHTML = "NEW CELL2";-->
<!--}-->

<!--function removeItem() {-->
<!--  document.getElementById("myTable").deleteRow(0);-->
<!--}-->
</script>

{% endblock content %}

{% block javascripts %}
  {{ super() }}

{% endblock javascripts %}
