{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% include "site_template/top-stats.html" %}

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
            <div class="col">

            <div class="" role="alert" id="alert_user">
            </div>

              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0" id="left">Daftar Nota</h3>
                  <a href="/add_memorandum"><button type="button" class="btn btn-sm btn-primary"><i class="ni ni-fat-add text-white"></i>Pembelian</button></a>
                  <a href="/add_memorandum2"><button type="button" class="btn btn-sm btn-warning"><i class="ni ni-fat-add text-white"></i>Penjualan</button></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">No Nota</th>
                        <th scope="col">Tanggal Terbit</th>
                        <th scope="col">Nama</th>
                        <th width="30%" scope="col">Keterangan</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    <!--          Start List          -->
                    <!-- For loop logic of jinja template -->
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">NBL-000001</span>  <!-- NBL = Nota Beli NJL = Nota Jual NPP = Nota Pelunasan Pembayaran -->
                            </div>
                          </div>
                        </th>
                          <td>
                          12 Mei 2020
                        </td>
                        <td>
                          Rani
                        </td>
                        <td>
                          Beli Dori 2x5 100kg
                        </td>
                        <td class="text-right">
                            <a href="/detail_memorandum"><button type="button" class="btn btn-sm btn-primary"><i class="ni ni-bullet-list-67 text-white"></i></button></a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">NJL-000001</span>  <!-- NBL = Nota Beli NJL = Nota Jual NPP = Nota Pelunasan Pembayaran -->
                            </div>
                          </div>
                        </th>
                          <td>
                          13 Mei 2020
                        </td>
                        <td>
                          Rebkley Tri Martuko
                        </td>
                        <td>
                          Jalan Panglima Sudirman Gang 2 No 22. 082257125486
                        </td>
                        <td class="text-right">
                            <a href="/detail_memorandum"><button type="button" class="btn btn-sm btn-primary"><i class="ni ni-bullet-list-67 text-white"></i></button></a>
                        </td>
                      </tr>
                    <!--          End List          -->

                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-4">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1">
                          <i class="fas fa-angle-left"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="">All</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="">
                          <i class="fas fa-angle-right"></i>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>



        {% include "site_template/footer.html" %}

    </div>

<style>
#left
{
    width:10%;
    float:left;
}
#right
{
    width:90%;
    float:right;
}
</style>

{% endblock content %}

{% block javascripts %}
  {{ super() }}

{% endblock javascripts %}
